<!doctype html>
<%- include ('partials/header.ejs'); %>

  <div class="row" style="margin: 100px">

    <div class="col-sm-12 col-lg-12">
      <h5 style="color: green">
        <%= message %>
      </h5>
      <div class="container emp-profile">
        <div class="row">
          <div class="col-md-4">
            <h4>Gold <%= gold_info.karat_title %> karat </h4>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h2>

              </h2>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Chart Vori</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Table</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="char-line-tab" data-toggle="tab" href="#char_line" role="tab"
                    aria-controls="home" aria-selected="true">Chart Gram</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pt-3">
            <div class="profile-work">
              <strong>Vori Price:</strong>
              <%= gold_info.vori_price %> TK<br>
                <strong>Gram Price:</strong>
                <%= gold_info.gram_price %> TK<br>
                  <strong>Last Price Update:</strong>
                  <%= gold_info.updated_at %> <br> <br>
                    <strong>1 Vori = 11.664 gram </strong>
                    <div class="row pt-4">
                      <button type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#exampleModal">Add New
                        Price</button>
                    </div>
            </div>
          </div>

          <!--     <input type="text" value="0" id="helper"> -->

          <div class="col-md-8 pt-4">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <canvas id="myBarChart"></canvas>
              </div>
              <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">

                  <table class="table" id="table_user">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vori Price</th>
                        <th scope="col">Gram Price</th>
                        <th scope="col">Incress Date</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(var i=0; i < gold_price_history.length; i++) { %>
                        <tr>
                          <th scope="row">
                            <%= i+1 %>
                          </th>
                          <td>
                            <%= gold_price_history[i].vori_price %>
                          </td>
                          <td>
                            <%= gold_price_history[i].gram_price %>
                          </td>

                          <td>
                            <%= gold_price_history[i].incress_date.getDate() %>
                              <%= months[gold_price_history[i].incress_date.getMonth()] %>, <%=
                                  gold_price_history[i].incress_date.getFullYear() %>
                          </td>

                          <td>
                            <button type="button"
                              onclick="updateModal('<%- gold_price_history[i].id %>', '<%- gold_price_history[i].vori_price %>', '<%- gold_price_history[i].gram_price %>', '<%- gold_price_history[i].incress_date %>')"
                              class="btn btn-primary" data-toggle="modal" data-target="#exampleModalUpdatePrice">Update
                              Price</button>
                          </td>

                        </tr>
                        <% } %>
                    </tbody>
                  </table>

                </div>
              </div>
              <div class="tab-pane fade " id="char_line" role="tabpanel" aria-labelledby="home-tab">
                <canvas id="myLineChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalUpdatePrice" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form method="POST" action="<%= base_url_web %>gold/updateGoldPrice">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Update Gold <%= gold_info.karat_title %> karat Price
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="vori_price_form" class="col-form-label">Vori Price:</label>
              <input type="number" class="form-control" oninput="updateGramPrice('vori_price_form', 'gram_price_form')"
                id="vori_price_form" name="vori_price_form" step="any" required>
            </div>

            <div class="form-group">
              <label for="gram_price_form" class="col-form-label">Gram Price:</label>
              <input type="number" class="form-control" id="gram_price_form" step="any" name="gram_price_form" required
                disabled>
            </div>

            <div class="form-group">
              <label for="incress_date_form" class="col-form-label">Inpress Date:</label>
              <input type="date" class="form-control" id="incress_date_form" max='<%- today %>' name="incress_date_form"
                required>
            </div>

            <input type="hidden" class="form-control" id="id_form" value="<%= gold_info.id %>" name="id_form" required>
            <input type="hidden" class="form-control" id="karat_form" value="<%= gold_info.karat_title %>"
              name="karat_form" required>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancell</button>
            <button type="submit" class="btn btn-primary">Update Price</button>
          </div>
      </form>
    </div>
  </div>
  </div>


    <!-- Modal Create -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <form method="POST" action="<%= base_url_web %>gold/createGoldPrice">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle2">Create New Gold <%= gold_info.karat_title %> karat Price
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="vori_price_form_create" class="col-form-label">Vori Price:</label>
              <input type="number" class="form-control"
                oninput="updateGramPrice('vori_price_form_create', 'gram_price_form_create')"
                id="vori_price_form_create" name="vori_price_form_create" step="any" required>
            </div>

            <div class="form-group">
              <label for="gram_price_form_create" class="col-form-label">Gram Price:</label>
              <input type="number" class="form-control" id="gram_price_form_create" step="any"
                name="gram_price_form_create" required disabled>
            </div>

            <div class="form-group">
              <label for="incress_date_form_create" class="col-form-label">Inpress Date:</label>
              <input type="date" class="form-control" id="incress_date_form_create" max='<%- today %>'
                name="incress_date_form_create" required>
            </div>

            <input type="hidden" class="form-control" id="karat_form_create" value="<%= gold_info.karat_title %>"
              name="karat_form" required>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancell</button>
            <button type="submit" class="btn btn-primary">Create New Price</button>
          </div>
      </form>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    $(document).ready(function () {
      var table = $('#table_user').DataTable();
      $(".dataTables_empty").text("No Gold Price incress History Found.");
    });
  </script>

  <script>
    var year_month_chart = '<%- year_month_chart %>';
    var vori_price_chart = '<%- vori_price_chart %>';
    var gram_price_chart = '<%- gram_price_chart %>';

    year_month_chart = year_month_chart.split("-");
    vori_price_chart = vori_price_chart.split(",");
    gram_price_chart = gram_price_chart.split(",");


    var ctx = document.getElementById('myBarChart').getContext('2d');
    var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: year_month_chart,
        datasets: [{
          label: '# Per Gram Price ',
          data: vori_price_chart,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              callback: function (value, index, values) {
                return value + ' tk';
              }
            }
          }
        }
      }
    });

    var ctx2 = document.getElementById('myLineChart').getContext('2d');
    var myLineChart = new Chart(ctx2, {
      type: 'line',
      data: {
        labels: year_month_chart,
        datasets: [{
          label: '# Per Vori Price ',
          data: gram_price_chart,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            ticks: {
              callback: function (value, index, values) {
                return value + ' tk';
              }
            }
          }
        }
      }
    });

    function updateModal(id, vori_price, gram_price, incress_date) {
      incress_date = new Date(incress_date);
      let date = incress_date.getFullYear() + '-' +
        ('00' + (incress_date.getMonth() + 1)).slice(-2) + '-' +
        ('00' + (incress_date.getDate())).slice(-2);

      document.getElementById("id_form").value = id;
      document.getElementById("vori_price_form").value = vori_price;
      document.getElementById("gram_price_form").value = gram_price;
      document.getElementById("incress_date_form").value = date;
    }

    function updateGramPrice(vori_price_name, gram_price_name) {
      let temp_vori_price = document.getElementById(vori_price_name).value;
      document.getElementById(gram_price_name).value = Math.round(temp_vori_price / 11.664);
    }

  </script>

  </body>

  </html>