<!doctype html>
<%- include ('partials/header.ejs'); %>

  <div class="row" style="margin: 100px">
    <div class="col-sm-10">
      <h1>User List</h1>
    </div>

    <div class="col-sm-10">
      <h5 style="color: green">
        <%= message %>
      </h5>
      <table class="table" id="table_user">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">NID</th>
            <th scope="col">Varified</th>
            <th scope="col">Status</th>
            <th scope="col">Reg Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < user_list.length; i++) { %>
            <tr>
              <th scope="row">1</th>
              <td>
                <%= user_list[i].name %>
              </td>
              <td>
                <%= user_list[i].email %>
              </td>
              <td>
                +88 0<%= user_list[i].phone %>
              </td>
              <td>
                <%= user_list[i].nid %>
              </td>

              <td>
                <% if( user_list[i].is_verified==1 ){ %>
                  Yes
                  <% } else { %>
                    No
                    <% } %>
              </td>

              <td>
                <% if( user_list[i].status==1 ){ %>
                  Yes
                  <% } else { %>
                    No
                    <% } %>
              </td>

              <td>
                <%= user_list[i].created_at.getDate() %>
                  <%= months[user_list[i].created_at.getMonth()] %>, <%= user_list[i].created_at.getFullYear() %>
              </td>

              <td>
                <a href="<%= base_url_web %>user/user-profile/<%= user_list[i].id %>">
                  <button type="button" class="btn btn-outline-success"> <i class="fa fa-eye"> </i> </button>
                </a>
              </td>

            </tr>
            <% } %>
        </tbody>
      </table>

    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('#table_user').DataTable({
        //"scrollX": true
      });
    });
  </script>

  </body>

  </html>